@import '../common/styles';

.Popup {
  min-width: 600px;
  min-height: 400px;
  display: flex;
  border: 1px solid $containerColor;
  &__Head {
    height: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    & > * {
      margin-right: 5px;
    }
    .Light {
      margin-right: 10px;
    }
  }
  &__Body {
    display: flex;
    flex: 2;
  }
}
.LeftPanel {
  padding: 0;
  box-sizing: border-box;
  border-right: 1px solid $containerColor;
  flex: 0 0 200px;
  .ConfigList {
    &__Item {
      padding: 10px;
      display: flex;
      align-items: center;
      @include easeInOutTrans();
      &:hover {
        background-color: rgba($hintColor, 0.2);
      }
      &--selected {
        background-color: rgba($mainColor, 0.2);
        &:hover {
          background-color: rgba($mainColor, 0.2);
        }
      }
      .Switch,
      .Input {
        margin-right: 5px;
      }
    }
  }
}

.RightPanel {
  padding: 10px;
  flex: 2;
  display: flex;
  flex-direction: column;
  .Tabs {
    flex: 0 0 20px;
  }
  &__Body {
    flex: 2;
    position: relative;
    margin-top: 5px;
    .Item {
      margin-top: 5px;
    }
  }
}
